<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310793989149-72hdv7a6ug04m4dt75oo7bu4c5o4tbqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310793989149-72hdv7a6ug04m4dt75oo7bu4c5o4tbqh</string>
	<key>API_KEY</key>
	<string>AIzaSyCrjiEEG-Lx_M-vEBapqPdR7LiALg7tZKM</string>
	<key>GCM_SENDER_ID</key>
	<string>310793989149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jh.TikTok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-c5713</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-c5713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310793989149:ios:79ed56b0808f93eb402af4</string>
</dict>
</plist>